<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/styles.css">
  <title>Document</title>
</head>

<body>
  <h1>Best vlox ever</h1>
  <h2>Add A Blog Post</h2>
  <div class="form-container">
    <div class="form-card">
      <form action="/articles/add" method="POST">
        <input type="text" value="" name="title" placeholder="Title" />
        <!-- <input type="text" name="name1" placeholder="Name" /> -->
        <input type="text" name="date" placeholder="Date" />
        <textarea name="name1" id="" cols="30" rows="10" placeholder="Content"></textarea>
        <button class="add-btn" type="submit">Submit</button>
    </div>
  </div>
</body>

</html>